.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db
ehthumbs.db

### allure ###
.allure

### Logs and temporary files ###
*.log
*.tmp

### Swap files for text editors ###
*.swp
*.swo
/keystore.pfx
/truststore.pfx
/tls.key
/tls.crt
/client.p12
/rest-client.pfx